header {
  background-color: #23b9ca17;
  background-image: url("../img/header_bg.png"), url("../img/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 500px;
}
.banner-greeting {
  font-size: 2.8rem;
  font-weight: 400;
  color: #232323;
  margin-bottom: 0;
}
.banner-title {
  font-size: 5.3125rem;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20;
}
.banner-description {
  margin-top: 0;
  margin-bottom: 10px;
}
.banner-content {
  max-width: 500px;
}
