body {
	font-family: "Comfortaa", sans-serif;
	font-family: "Comic Neue", cursive;
}
.primary-txt {
	color: #22bbcc;
}
.primary-btn {
	border-radius: 5px;
	background-color: #22bbcc;
	border: 0;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	padding: 15px 35px;
}
.about {
	padding: 130px;
	border-radius: 10px;
	background-color: #22bbcc19;
	margin: 130px 0;
}
.section-title {
	color: #181818;
	text-align: center;
	font-weight: 700;
	font-size: 35px;
}
.section-description {
	color: #181818;
	text-align: center;
	font-size: 18px;
}
main {
	max-width: 1140px;
	margin: 0 auto;
}
.about-info-container {
	display: flex;
	text-align: center;
	justify-content: space-around;
	max-lines: 1;
}
.about-info {
	text-align: center;
}
.info-description {
	max-lines: 1;
}
#skills {
	padding: 30px 150px;
}
.skill-container {
	display: flex;
	gap: 24px;
}
.skill {
	padding: 30px;

	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description {
    color: #232323;
}
