*{
margin: 0;
padding: 0;
} 
body {
  font-family: "Comfortaa", sans-serif;
  font-family: "Comic Neue", cursive;
}
button a{
  text-decoration: none;
  color: #fff;
}
.primary-txt {
  color: #22bbcc;
}
.primary-btn {
  border-radius: 12px 0;
  background-color: #22bbcc;
  border: 0;
  font-size: 1.125rem;
  color: #fff;
  font-weight: 700;
  padding: 0.9375rem 2.1875rem;
  margin-bottom: 0.5625rem;
}
.about {
  padding: 8.125rem;
  border-radius: 10px;
  background-color: #22bbcc19;
  margin: 8.125rem 0;
}
.section-title {
  color: #181818;
  text-align: center;
  font-weight: 700;
  font-size: 2.1875rem;
}
.section-description {
  color: #181818;
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 8.125rem;
}
.about-info-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  max-lines: 1;
  gap: 1rem;
}
.about-info {
  text-align: center;
}
.info-description {
  max-lines: 1;
  margin-bottom: 0.375rem;
}
#skills {
  padding: 1.875rem 150px;
}
.skill-container {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
}
.skill {
  padding: 1.875rem;
  border: 2px solid #22bbcc19;
  border-radius: 12px 0;
  background: #22bbcc19;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-vice-versa, .btn-vice-versa{
  border-radius: 0 12px;
}
.skill-description {
  color: #232323;
}
.resume-column-title {
  color: #232323;
  font-size: 1.875rem;
  font-weight: 700;
}
.resume-item-title {
  margin-bottom: 0.625rem;
  color: #232323;
  font-size: 1.56rem;
  font-weight: 700;
}
.resume-institute {
  margin-top: 0px;
  margin-bottom: 1.25rem;
  color: #232323a8;
  font-size: 1.25rem;
  font-weight: 600;
}
.resume-item-description {
  text-align: justify;
  padding: 10px;
  color: #232323;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  border: 2px solid #22bbcc19;
  border-radius: 12px 0;
  background: #22bbcc19;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.resume-container {
  display: flex;
  gap: 3.125rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.resume-container hr {
  margin: 1.875rem 0;
}
.download-cv {
  text-align: center;
  margin-top: 3.125rem;
  cursor: pointer;
}
